/* html,
body {
  background: #dedede;
  min-height: 100vh;
  min-width: 100vw;
  padding: 0;
  margin: 0;
} */

#snowfall {
  pointer-events: none;
  background-color: transparent;
  position: absolute;
  inset: 0;
}
